@page  "/pr20/pr20"

<div>
<label>Names:</label>
<select value="@Names" @onchange="UpdateName">
<option value="Select">Select</option>
<option>Oktar</option>
<option>Han</option>
<option>Tağmaç</option>
<option>Timur</option>
</select>
</div>
<div>Name's Value: @Names </div>