@page "/pr13/pr13"

<div>
<select @onchange="Option">
<Option selected disabled value="1"> choose one Name </option>
<option value=0 >Oktar </option>
<option value=0 >Han </option>
<option value=0 >Tağmaç </option>
<option value=0 >Timur </option>
</select>
</div>
<p>@MyOption</p>
<br/>
<div>
<select @bin="Name">
<Option selected disabled value="1"> choose one Name </option>
<option value=0 >Oktar </option>
<option value=0 >Han </option>
<option value=0 >Tağmaç </option>
<option value=0 >Timur </option>
</select>
</div>
<p>@Name</p>