@page "/pr39/pr39_2"
@inherist Pr39_2Base
@implements IDisposable
<h1>Second Page</h1>
<div style="width:640px;height:480px;background-color:@AppData.Color">
<p>You entered th number @AppData.Number.</p>
</div>
<a href="/pr39/pr39">Go to Page 1</a>