@page "/pr23/pr23"

<h3>@Counter</h3>
<form action="/pr23/pr23" method="get">
<div>
<button @onclick="IncCounter" @onclick:preventDefault="true" >Increase Counter </button>
<br/><br/>
<button @onclick="DecCounter" @onclick:preventDefault="true" >Decrease Counter </button>
</div>
</form>