@page "/pr21/pr21"

<div>
<label>Names:</label>
<select @bind="UpdateName">
<option value="Select">Select</option>
<option>Oktar</option>
<option>Han</option>
<option>Tağmaç</option>
<option>Timur</option>
</select>
</div>

<div>Name's Value:@Names</div>
<div>tmpName's Value:@tmpNames</div>